{{outlet}}

<h1> Welcome to Shop Lift </h1>

<p>We hope you find exactly what you're looking for.</p>
  <h2>Shop with us Today!</h2>


    {{#each model as |item|}}
    {{item-tile item=item  destroyItem="destroyItem"}}
    {{/each}}

    {{new-item saveItem2="saveItem3"}}



{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
